<div class="container">
  <div class="col-sm6 col-md-4">
    <div class="card mt-4">
      <div class="card-body">
        <h3>Counter</h3>
        <p>Custom Store</p>

        <p>
          The counter value is
          <b> {{ counter }} </b>
        </p>

        <button (click)="increment()" class="btn btn-primary me-3">
          Increment
        </button>
        <button (click)="decrement()" class="btn btn-secondary">
          Decrement
        </button>
      </div>
    </div>
  </div>
</div>
